html,body {
    color: #1a4c1a;
    font-family: "Verdana";
    text-align: center;
}
#navbarContent ul li a {
    color: #1a4c1a;
    font-family: 'Cinzel', serif;
}
#navbar {
    background-color: white;
    opacity: 0.8;
}
#footer {
    color: white;
    background-color: #b18435;
    font-family: 'Cinzel', serif;
    font-size: 0.7em;
    min-height: 175px;
    padding: 30px 10px 0;
    text-align: left;
    margin-top: 20px;
}
#footerBox {
    border-left: 1px solid;
}
#footerBox a {
    color: inherit;
    text-decoration: none;
}
#inventawebFooter {
    color: white;
    background-color: #765823;
    font-size: 0.7em;
    height: 25px;
    padding-top: 5px;
}
.body {
    min-height: calc(100vh - 200px);
}
.carouselImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 350px;
    position: relative;
    height: 85vh;
    opacity: 0.7;
}
#image1 {
    background-image: url("/img/CourtGavel.jpg");
}
#image2 {
    background-image: url("/img/Courtroom.jpg");
}
#image3 {
    background-image: url("/img/Books.jpg");
}
.imageAttribution {
    color: white;
    display: block;
    font-size: 0.7em;
    left: 0;
    margin: -30px 10px 0px 10px;
    position: absolute;
    z-index: 19;
}
.imageAttribution p a {
    color: inherit;
    text-decoration: none;
}
.carouselText {
    color: white;
    display: block;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    left: 0;
    margin-top: -200px;
    position: absolute;
    text-shadow: 2px 1px 6px black;
    width: 100%;
    z-index: 20;
}
#homeTopContent {
    background-color: #e2c99c;
    padding: 50px 10px 30px 10px;
    margin: 0px;
}
#homeTopContent .fa {
    color: white;
}
#homeTopContent .col-sm-4 {
    padding-bottom: 20px;
}
.btn-xs {
    background-color: inherit;
    border: solid 1px #1a4c1a;
    color: #1a4c1a;
    text-decoration: none;
}
#homeBottomContent {
    padding: 50px 10px 50px 10px;
}
h2 {
    color: white;
    font-family: 'Cinzel', serif;
    text-shadow: 2px 1px 6px black;
}
h3 {
    font-family: 'Cinzel', serif;
}
h4 {
    font-family: 'Cinzel', serif;
}
.jumbotron {
    background-image: url("/img/GavelBanner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.7;
}
#attorneyContent {
    padding: 20px 10px 20px 10px;
    text-align: left;
}
#attorneyContent .row {
    padding: 10px 0px 10px 0px;
}
#attorneyImage {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: -webkit-inline-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    padding: 20px 10px 20px 10px;
}
#attorneyImage img {
    max-height: 400px;
    width: auto;
}
#navtabsContent li a {
    color: #1a4c1a;
    font-family: 'Cinzel', serif;
    text-decoration: none;
}
.tab-content {
    text-align: left;
    padding: 30px;
}
.bulletList {
    list-style-type: circle;
}
#contactContent .row {
    padding: 10px 0px 10px 0px;
}
#contactContent .contactTop {
    padding: 10px;
    text-align: left;
    text-decoration: none;
}
#contactContent .contactBottom {
    padding: 10px;
}
.line {
    height: 1px;
    border-bottom: 1px solid #e2c99c;
    margin: 10px;
}
.alphaList {
    list-style-type: lower-alpha;
}
.numeralList {
    list-style-type: lower-roman;
}
#termsContent {
    text-align: left;
}
#termsContent h3 {
    text-align: center;
    padding-top: 10px;
}
#termsContent h4 {
    padding-top: 10px;
}