<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/img/web/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/css/less.css?v=1.0">
  <link rel="stylesheet" href="/css/admin.css?v=1.0">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="/img/web/logo45.png" id="adminHeaderLogo">
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Jobs
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li {% if page == 'jobs' %} class="active" {% endif %}><a href="{{ makeURL('admin/jobs') }}">Positions</a></li>
            <li {% if page == 'applicants' %} class="active" {% endif %}><a href="{{ makeURL('admin/applicants') }}">Applicants</a></li>
            <li {% if page == 'appreports' %} class="active" {% endif %}><a href="{{ makeURL('admin/appreports') }}">Application Reports</a></li>
          </ul>
        </li>
        <li {% if page == 'claims' %} class="active" {% endif %}><a href="{{ makeURL('admin/claims') }}">Claims</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/admin/sitemenu">Site Menu</a></li>
        <li><a href="/admin/users">Users</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>