{% include 'adminHeader.html' %}
<div class="container">
<!--Menu Category Area -->
  <div class="row">
    <div class="col-md-5">
      <h3>Manage Menu Categories<i class="fa fa-plus pull-right"></i></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <ul id="sort0" class="sortable" data-id="{{ item[0].parentMenuID }}">
      {% for item in cats %}
        <li id="item_{{item.id}}">
          <div class="row">
            <div class="col-md-12">
              <div class="adminItemHeader" id="{{item.id}}">
                <span id="itemName{{item.id}}" class="item-name">{{item.name}}</span>
                <i id="curIcon{{item.id}}" class="fa fa-blank pull-right"></i>
                <i class="handle fa fa-align-justify pull-right"></i>
                {% if item.onMenu %}{% set icon='eye' %}{% else %}{% set icon='eye-slash' %}{% endif %}
                <i class="fa fa-{{icon}} eye-icon pull-right"></i>
                {% if item.defaultOpen %}{% set icon='open-o' %}{% else %}{% set icon='o' %}{% endif %}
                <i class="fa fa-folder-{{icon}} open-icon pull-right"></i>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
    <div class="col-md-7" id="showItem">
      <center><h4>Please select a menu item to edit.</h4></center>
    </div>
  </div>
</div> <!-- /container -->

<div class="hidden">
  <li class="sub_0">
    <div class="row">
      <div class="col-md-12">
        <div class="adminItemHeader">
          <div class="col-md-9">
            <input class="item-name1 form-control" type="text" placeholder="New Menu Category Name" />
          </div>
          <button class="btn btn-primary addNewItem col-md-3 pull-right">Add Category</button>
        </div>
      </div>
    </div>
  </li>
</div>


{% include 'adminFooter.html' %}

<script language="javascript" type="text/javascript">
(function($) {
	$(function() {

  	$('.fa-plus').click(function(){
  	  $('.addNew').slideUp().remove();
    	$('.sub_0').clone().addClass('addNew').appendTo('#sort0');
    	$('.addNewItem').click(function(){
    	  var val = $(this).prev().children().val();
    	  if (val > ''){
        	$.post('{{makeURL('admin/menucats/create/')}}', {name: val}, function(newID){
          	window.location = "{{makeURL('admin/menucats/')}}"+newID;
        	});
        }
    	});
  	})

  	$( ".sortable" ).sortable({
  	  handle:'.handle',
  	  stop:function(event, ui) {
  	    var menuID = $(this).attr('data-id');
        $.ajax({
          type: "POST",
          url: '{{ makeURL('admin/menucats/sort/')}}',
          data: $(this).sortable("serialize")
        });
      }
    });

  	$('.addForm').submit(function(e){
     	e.preventDefault();
  	});

		$.validate({
  		form : '.addForm'
    });

		$.validate({
  		form : '.itemForm'
    });

    $('.add-icon').click(function(){
      var self=$(this);
      self.parent().siblings('.adminItemNew').first().slideToggle();
    })

    $('.adminItemHeader').click(function(){
      var self=$(this);
      var id = self.attr('id');
      $('.fa-chevron-right').removeClass('fa fa-chevron-right').addClass('fa fa-blank');
      $('#showItem').load('{{makeURL("admin/menucats/load/")}}'+id, function(){
        $('#curIcon'+id).removeClass('fa fa-blank').addClass('fa fa-chevron-right');
      });
    })

    {% if active %}
    $('#{{active}}').click();
    {% endif %}

	});
})(jQuery);

</script>

{% include 'adminPostFooter.html' %}
