{% include 'adminHeader.html' %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h3>Manage Job Openings</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <div class="input-group">
        <span class="input-group-addon">Search:</span>
        <input class="form-control" id="searchJob" type="text" placeholder="Job Name">
      </div>
      <ul class="sortable">
        <li>
          <div class="adminItemHeader adminItemNewHeader" id="New">
            <span id="itemName" class="item-name">Add New Position</span>
            <i class="flipper icon-blank pull-right" id="curIconNew"></i>
            <i class="fa fa-plus pull-right" data-original-title=""></i>
          </div>
        </li>
      </ul>
      {% set found=0 %}
      {% for item in jobs %}
        {% if not found and item.active==0 %}
          {% set found=1 %}
      <div class="adminItemHeaderArea">
        <span id="itemName{{item.id}}" class="item-name">Inactive Jobs</span>
      </div>
        {% endif %}

      <div class="adminItemHeader" id="{{item.id}}">
        <span id="itemName{{item.id}}" class="item-name item-search">{{item.jobType}} - {{item.name|raw}}</span>
        <i class="fa icon-blank pull-right" id="curIcon{{item.id}}"></i>
      </div>
      {% endfor %}
    </div>
    <div class="col-sm-7 col-md-7" id="showItem">
      <center><h4>Please select a position to edit.</h4></center>
    </div>
  </div>
</div> <!-- /container -->


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% include 'adminFooter.html' %}

<script language="javascript" type="text/javascript">
(function($) {
	$(function() {

  	$('#searchJob').keyup(function(){
      doSearch();
  	});

  	$('#searchJob').blur(function(){
      doSearch();
  	});

    $('.adminItemHeader').click(function(){
      var self=$(this);
      var id = self.attr('id');
      $('.fa-chevron-right').removeClass('fa-chevron-right').addClass('icon-blank');
      $('#showItem').load('{{makeURL("admin/jobs/")}}'+id, function(){
        $('#curIcon'+id).removeClass('icon-blank').addClass('fa-chevron-right');
      });
    })
	{% if selJob %}
  	$('#{{selJob}}').click();
	{% endif %}

	});

	function doSearch(){
  	var val = $('#searchJob').val().toLowerCase();
   	$('.item-search').each(function(){
    	text = $(this).html().toLowerCase();
    	if (text.indexOf(val) != -1){
      	$(this).parent().show();
    	}else{
      	$(this).parent().hide();
    	}
  	});
	}

})(jQuery);

</script>

{% include 'adminPostFooter.html' %}
