{% include 'adminHeader.html' %}
<div class="container">
<!--Menu Category Area -->
  <div class="row">
    <div class="col-md-5">
      <h3>Manage Menu Items</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <ul id="catList">
      {% for cat in items %}
        <li>
          <div class="row">
            <div class="col-md-12">
              <div class="adminCatHeader" data-id="{{cat.id}}">
                <span id="catName{{cat.id}}" class="item-name">{{cat.name}}</span>
                <i class="pull-right fa fa-circle-o catOpen" data-id='{{cat.id}}' id="catOpen-{{cat.id}}"></i>
                <i class="pull-right fa fa-plus" data-id='{{cat.id}}'></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ul id="sort{{cat.id}}" class="sortable subItemList" data-id="{{ item[0].parentMenuID }}">
              {% for item in cat.items %}
                <li id="item_{{item.id}}">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="adminItemHeader" id="{{item.id}}">
                        <span id="itemName{{item.id}}" class="item-name">{{item.name}}</span>
                        <i id="curIcon{{item.id}}" class="fa fa-blank pull-right"></i>
                        <i class="handle fa fa-align-justify pull-right"></i>
                        {% if item.status %}{% set icon='thumbs-up' %}{% else %}{% set icon='thumbs-down' %}{% endif %}
                        <i class="fa fa-{{icon}} stat-icon pull-right"></i>
                      </div>
                    </div>
                  </div>
                </li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
    <div class="col-md-7" id="showItem">
      <center><h4>Please select a menu item to edit.</h4></center>
    </div>
  </div>
</div> <!-- /container -->


<div class="hidden">
  <li class="sub_1">
    <div class="row">
      <div class="col-md-11 col-offset-1">
        <div class="adminItemHeader">
          <div class="col-md-9">
            <input class="item-name1 form-control" type="text" placeholder="New Menu Item Name" />
          </div>
          <button class="btn btn-primary addNewItem col-md-3 pull-right">Add Item</button>
        </div>
      </div>
    </div>
  </li>
</div>

{% include 'adminFooter.html' %}

<script language="javascript" type="text/javascript">
(function($) {
	$(function() {

    var stopclick = false;

  	$('.adminCatHeader').click(function(){
    	if (stopclick){
      	stopclick = false;
      	return;
    	}
    	var id = $(this).attr('data-id');
    	$('#catOpen-'+id).toggleClass('fa-circle-o fa-arrow-circle-o-down');
    	$('#sort'+id).slideToggle();
  	});

  	$('.fa-plus').click(function(){
    	stopclick=true;
  	  var itemID = $(this).attr('data-id');
  	  $('.addNew').remove();
  	  $('.addNewItem').unbind();
     	$('.sub_1').clone().addClass('addNew').appendTo('#sort'+itemID);

    	$('.addNewItem').click(function(){
    	  var val = $(this).prev().children().val();
    	  if (val > ''){
        	$.post('{{makeURL('admin/menu/')}}', {menuCategoryID: itemID, name: val}, function(newID){
          	window.location = "{{makeURL('admin/menu/')}}"+newID;
        	});
        }
    	});
  	})

  	$( ".sortable" ).sortable({
  	  handle:'.handle',
  	  stop:function(event, ui) {
  	    var menuID = $(this).attr('data-id');
        $.ajax({
          type: "POST",
          url: '{{ makeURL('admin/menu/sort/')}}',
          data: $(this).sortable("serialize")
        });
      }
    });

  	$('.addForm').submit(function(e){
     	e.preventDefault();
  	});

		$.validate({
  		form : '.addForm'
    });

		$.validate({
  		form : '.itemForm'
    });

    $('.add-icon').click(function(){
      var self=$(this);
      self.parent().siblings('.adminItemNew').first().slideToggle();
    })

    $('.adminItemHeader').click(function(){
      var self=$(this);
      var id = self.attr('id');
      $('.fa-chevron-right').removeClass('fa fa-chevron-right').addClass('fa fa-blank');
      $('#showItem').load('{{makeURL("admin/menu/load/")}}'+id, function(){
        $('#curIcon'+id).removeClass('fa fa-blank').addClass('fa fa-chevron-right');
      });
    })

    {% if active %}
    $('#{{active}}').click().parent().parent().parent().parent().parent().parent().prev().find('.adminCatHeader').click();
    {% endif %}

    doIcons();
	});
})(jQuery);

function doIcons(){
  $('.fa-thumbs-up').tooltip({title: 'Active Item'});
  $('.fa-thumbs-down').tooltip({title: 'Inactive Item'});
  $('.fa-align-justify').tooltip({title: 'Drag Me to reorder the list.'});
}

</script>

{% include 'adminPostFooter.html' %}
