<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    {% for c in cats %}
    <li role="presentation" {% if loop.first %}class="active"{% endif %}><a href="#c{{week.id}}_{{c.id}}" aria-controls="{{c.name}}" role="tab" data-toggle="tab">{{c.name}}</a></li>
    {% endfor %}
    <li role="presentation"><a href="#c{{week.id}}_status" aria-controls="Status" role="tab" data-toggle="tab">Status</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    {% for c in cats %}
    <div role="tabpanel" class="tab-pane {% if loop.first %}active{% endif %}" id="c{{week.id}}_{{c.id}}">
      <h2>{{c.name}} for week beginning Monday {{week.monday|date('m/d')}}</h2>
      <ul class="connectedSortable" id="in{{c.id}}">
        <li class="ui-state-default ui-state-disabled">On Menu For This Week</li>
      {% for i in items if i.menuCategoryID==c.id and i.week.id %}
        <li class="ui-state-default" id="item_{{i.id}}" data-class="{{c.id}}">
          <img src="/img/food/{{i.image}}" class="img-thumbnail">
          <h3>{{i.name}} - {{i.subName}}</h3>
        </li>
      {% endfor %}
      </ul>
      <ul class="connectedSortable" id="out{{c.id}}">
        <li class="ui-state-default ui-state-disabled">Off Menu For This Week</li>
      {% for i in items if i.menuCategoryID==c.id and not i.week.id %}
        <li class="ui-state-default" id="item_{{i.id}}" data-class="{{c.id}}">
          <img src="/img/food/{{i.image}}" class="img-thumbnail">
          <h3>{{i.name}} - {{i.subName}}</h3>
        </li>
      {% endfor %}
      </ul>

    </div>
    {% endfor %}
    <div role="tabpanel" class="tab-pane" id="c{{week.id}}_status">
      <div class="row">
        <div class="col-md-6">
          <form>
            <div class="form-group">
              <label class="control-label col-md-8">Show week beginning Monday {{week.monday|date('m/d')}} on site</label>
              <div class="col-md-4">
                <input type="checkbox" id="show{{week.id}}" class="itemType" {% if week.stat %}checked="checked"{% endif %}>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <h2>Full menu for week beginning Monday {{week.monday|date('m/d')}}</h2>

          {% for c in cats %}
          <h3>{{c.name}}</h3>
          <ul class="fullMenuList">
          {% for i in items if i.menuCategoryID==c.id and i.week.id %}
            <li class="ui-state-default" id="item_{{i.id}}" data-class="{{c.id}}">
              <img src="/img/food/{{i.image}}" class="img-thumbnail">
              <h3>{{i.name}} - {{i.subName}}</h3>
            </li>
          {% endfor %}
          </ul>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


<script language="javascript" type="text/javascript">
(function($) {
	$(function() {

    $('#show{{week.id}}').onoff();
    $('#show{{week.id}}').change(function(){
      var status = ($(this).prop('checked')) ? 1 : 0;
      if (status){
        $('#badge{{week.id}}').html('<i class="fa fa-check"></i>');
      }else{
        $('#badge{{week.id}}').html('');
      }
      $.get("{{makeURL('admin/schedule/week/'~week.id)}}/status/"+status);
    });


		$('#myTab a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    });
    $( ".connectedSortable" ).sortable({
      items: "li:not(.ui-state-disabled)",
      connectWith: ".connectedSortable",
      beforeStop: function (event, ui) { draggedItem = ui.item;},
      stop: function(event, ui) {
        var catID = draggedItem.attr('data-class');
        var items = $("#in"+catID).sortable('serialize');
        console.log(items);
       	$.ajax({
          method: "PUT",
          url: "{{makeURL('admin/schedule/week/'~week.id~'/cat/')}}"+catID,
          data: items
        });
      }
    });
	});
})(jQuery);
</script>