{% include 'adminHeader.html' %}
<div class="container">
<!--Menu Category Area -->
  <div class="row">
    <div class="col-md-5">
      <h3>Schedule Menu Items</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs" id="myTabs">
        {% for w in weeks %}
        <li><a {% if loop.first %}id="tabx"{% endif %} href="#w{{w.id}}" data-url="/admin/schedule/week/{{w.id}}">Mon {{w.monday|date('m/d')}} <span id="badge{{w.id}}" class="badge badge-success">{% if w.stat %}<i class="fa fa-check"></i>{% endif %}</span></a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tab-content" id="myPanes">
        {% for w in weeks %}
        <div class="tab-pane" id="w{{w.id}}"></div>
        {% endfor %}
      </div>
    </div>
  </div>
</div> <!-- /container -->

{% include 'adminFooter.html' %}

<script language="javascript" type="text/javascript">
(function($) {
	$(function() {
    $('#myTabs a').click(function (e) {
    	e.preventDefault();

    	var url = $(this).attr("data-url");
     	var href = this.hash;
     	var pane = $(this);

    	// ajax load from data-url
    	$(href).load(url,function(result){
   	    pane.tab('show');
    	});
    });

    $('#tabx').click();
	});
})(jQuery);

</script>

{% include 'adminPostFooter.html' %}
