{% include 'adminHeader.html' %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Manage Claims
        {% if type=='claims' %}<a href="{{makeURL('admin/allclaims')}}" class="btn btn-xs btn-primary pull-right">Show All</a>{% endif %}
        {% if type=='allclaims' %}<a href="{{makeURL('admin/claims')}}" class="btn btn-xs btn-primary pull-right">Show Current</a>{% endif %}
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="input-group">
        <span class="input-group-addon">Search:</span>
        <input class="form-control" id="searchCust" type="text" placeholder="Claim Search">
      </div>
      {% set found=0 %}
      {% for item in claims %}
        {% if item.status > found %}
          {% set found=item.status %}
      <div class="row">
        <div class="col-md-5">
          <div class="adminItemHeaderArea">
            <span class="item-name"><strong>{{item.statusName}} Claims</strong></span>
          </div>
        </div>
      </div>
        {% endif %}
      <ul class="sortable">
        <li id="item_{{item.id}}">
          <div class="row">
            <div class="col-md-12">
              <div class="adminItemHeader" id="{{item.id}}">
                <span id="itemName{{item.id}}" class="item-name item-search pull-left">{{item.id}} - {{item.companyName}}</span>
                <i class="fa icon-blank pull-right" id="curIcon{{item.id}}"></i>
                <div class="balance pull-right">{{item.product}} - {{item.claimDate}}</div>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
    <div class="col-md-7" id="showItem">
      <center><h4>Please select a claim to view</h4></center>
    </div>
  </div>
</div> <!-- /container -->



<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% include 'adminFooter.html' %}

<script language="javascript" type="text/javascript">
(function($) {
	$(function() {

  	$('#searchCust').keyup(function(){
      doSearch();
  	});

  	$('#searchCust').blur(function(){
      doSearch();
  	});

    $('.adminItemHeader').click(function(){
      var id = $(this).attr('id');
      $('.fa-chevron-right').removeClass('fa-chevron-right').addClass('icon-blank');
      $('#showItem').load('{{makeURL("admin/claims/")}}'+id, function(){
        $('#curIcon'+id).removeClass('icon-blank').addClass('fa-chevron-right');
      });
    });

	});

	function doSearch(){
  	var val = $('#searchCust').val().toLowerCase();
    	$('.item-search').each(function(){
    	text = $(this).html().toLowerCase();
    	item = $(this).next().html().toLowerCase();
    	if (text.indexOf(val) != -1 || item.indexOf(val) != -1){
      	$(this).parent().parent().parent().parent().show();
    	}else{
      	$(this).parent().parent().parent().parent().hide();
    	}
  	});
	}

})(jQuery);

</script>

{% include 'adminPostFooter.html' %}
