<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal itemForm" data-val="{{item.id}}">
      <div class="form-group">
        <label class="control-label col-md-3">Status</label>
        <div class="col-md-9">
          <input type="checkbox" id="status" {% if item.status %}checked{% endif %}>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3" for="name{{item.id}}">Name</label>
        <div class="col-md-9">
          <input type="text" id="name{{item.id}}" name="name" value="{{item.name}}" placeholder="Name" class="form-control" data-validation="required"><br />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3" for="subName{{item.id}}">Sub-Name</label>
        <div class="col-md-9">
          <input type="text" id="subName{{item.id}}" name="subName" value="{{item.subName}}" placeholder="Sub-Name" class="form-control"><br />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3" for="description{{item.id}}">Description</label>
        <div class="col-md-9">
          <textarea id="description{{item.id}}" name="description" placeholder="Menu item description" class="form-control" data-validation="required">{{item.description}}</textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3" for="sizeDescription{{item.id}}">Size Description</label>
        <div class="col-md-9">
          <textarea id="sizeDescription{{item.id}}" name="sizeDescription" placeholder="Menu item size description" class="form-control">{{item.sizeDescription}}</textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3">Prices</label>
        <div class="col-md-9">
          <table class="table tableCondensed">
            <tr><th>Size</th><th>Price</th></tr>
            <tr><td>Small</td><td><input type="text" name="smallPrice" value="{{item.smallPrice}}"></td></tr>
            <tr><td>Medium</td><td><input type="text" name="mediumPrice" value="{{item.mediumPrice}}"></td></tr>
            <tr><td>Large</td><td><input type="text" name="largePrice" value="{{item.largePrice}}"></td></tr>
            <tr><td>Feast</td><td><input type="text" name="feastPrice" value="{{item.feastPrice}}"></td></tr>
          </table>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3">Body By V</label>
        <div class="col-md-9">
          <input type="checkbox" id="bodybyv" class="itemType" {% if item.bodybyv %}checked{% endif %}>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3">Gluten Free</label>
        <div class="col-md-9">
          <input type="checkbox" id="glutenfree" class="itemType" {% if item.glutenfree %}checked{% endif %}>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3">Organic</label>
        <div class="col-md-9">
          <input type="checkbox" id="organic" class="itemType" {% if item.organic %}checked{% endif %}>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3">Paleo</label>
        <div class="col-md-9">
          <input type="checkbox" id="paleo" class="itemType" {% if item.paleo %}checked{% endif %}>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3">Vegan</label>
        <div class="col-md-9">
          <input type="checkbox" id="vegan" class="itemType" {% if item.vegan %}checked{% endif %}>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3">Vegeterian</label>
        <div class="col-md-9">
          <input type="checkbox" id="vegetarian" class="itemType" {% if item.vegetarian %}checked{% endif %}>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3">&nbsp;</label>
        <div class="col-md-9">
          <button type="submit" class="btn btn-primary" id="updateBtn"><i class="fa fa-upload"></i> Update Menu Item</button>
          <span id="updateStatus"></span>
          <button type="button" class="btn btn-danger pull-right" id="deleteBtn"><i class="fa fa-trash"></i> Delete Menu Item</button>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3" for="name78">Image</label>
        <div class="controls pageImage">
          <div class="row">
       			<div class="col-md-4">
       			  <input id="imageUploader" type="file" name="files[]" data-url="{{makeURL('upload/food')}}">
       			  <div class="progress">
                <div id="imageProgress" class="progress-bar" role="progressbar" style="width: 0%">
                </div>
              </div>
    				</div>
    				<div class="col-md-4" id="imageFile">
    				{% if item.image > '' %}
            <img  class="img-polaroid" src="{{makeURL('img/food/'~item.image)}}">
    				{% else %}
    				No File Uploaded
    				{% endif %}
    				</div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<script language="javascript" type="text/javascript">
(function($) {
	$(function() {

    $('#status').onoff();
    $('#status').change(function(){
      var id = '{{item.id}}';
      var status = ($(this).prop('checked')) ? 1 : 0;
      console.info('status', status);
      var icon=$('#'+id).children('.stat-icon').first();
      $.get('{{makeURL('admin/menu/setStatus/')}}'+id+'/'+status, function(){
        console.info('status', status);
    	  switch(status){
        	case 0:
        	  var newIcon = 'fa-thumbs-down';
        	  break;
        	case 1:
        	  var newIcon = 'fa-thumbs-up';
        	  break;
      	}
      	console.info('newIcon', newIcon);
    	  icon.removeClass('fa-thumbs-up').removeClass('fa-thumbs-down').addClass(newIcon);
      	doIcons();
      });
    });


    $.validate({
  		form : '.itemForm'
    });

    $('#delPageImage').click(function(){
      $.get('{{makeURL("admin/menu/delPageImage/"~item.id)}}', function(){
        $('#pageImage>img').slideUp();
        $('#delPageImage').slideUp();
      });
    });

    $("#deleteBtn").click(function(){
      if(confirm('Are you sure you want to permenantly delete this menu item?')){
       	$.ajax({
          method: "DELETE",
          url: "{{makeURL('admin/menu/'~item.id)}}"
        }).done(function() {
          window.location = "{{makeURL('/admin/menu')}}";
        });
      }
    });

    $('#imageUploader').fileupload({
      autoUpload: true,
      //dataType: 'text/html',
      uploadTemplateId: null,
      downloadTemplateId: null,
      done: function (e, data) {
        console.log(data);
        $.each(data.result.files, function (index, file) {
          var file = file;
          $.post('{{makeURL("admin/menu/"~item.id~"/setPic")}}', {image: file.name}, function(){
            $('#imageFile').html('<img class="img-polaroid" src="{{makeURL('img/food/')}}'+file.name+'">');
          });
        });
      },
      progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        var pct = progress+'%';
        $('#imageProgress').css('width', pct);
      }
    });


    $('.itemType').onoff();
    $('.itemType').change(function(){
      var id = '{{item.id}}';
      var type = $(this).attr('id');
      var status = ($(this).prop('checked')) ? 1 : 0;
      var icon=$('#'+id).children('.icon-'+type).first();
      if (typeof type === "undefined") return false;
      $.get("{{makeURL('admin/menu/setType/')}}"+type+'/'+id+'/'+status, function(){
    	  switch(status){
        	case 1:
        	  var newIcon = 'fa-folder-open-o';
        	  break;
        	case 0:
        	  var newIcon = 'fa-folder-o';
        	  break;
      	}
    	  icon.removeClass('fa-folder-o').removeClass('fa-folder-open-o').addClass(newIcon);
      });
    });

  	$('.itemForm').submit(function(e){
     	e.preventDefault();
      $('#updateBtn').addClass('disabled').html('<i class="fa fa-spin fa-spinner"></i> Updating...');
      $('#delBtn').addClass('disabled');
    	var id = $(this).attr('data-val');
    	var data = $(this).serializeObject();
    	var self = $(this);
    	$.ajax({
        method: "PUT",
        url: "{{makeURL('admin/menu/')}}"+id,
        data: data
      }).done(function() {
    	  var name = $('#name'+id).val();
      	$('#itemName'+id).html(name);
        $('#updateBtn').removeClass('disabled').html('<i class="fa fa-upload"></i> Update Settings');
        $('#delBtn').removeClass('disabled');
        $('#updateStatus').text(' Updated!').addClass('text-success');
        setTimeout(function(){
          $('#updateStatus').fadeOut("slow");
        }, 1500);
    	});
     	return false;
  	});

	});
})(jQuery);
</script>