{% include 'header.html' %}
<div class="jumbotron">
    <h2>Attorney Profile</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9" id="attorneyContent">
            <div class="row">
                <div class="col-sm-3">
                    <p><b>Bar Admission</b></p>
                </div>
                <div class="col-sm-8">
                    <p>US District Court Eastern District Of California-1980</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p><b>Education</b></p>
                </div>
                <div class="col-sm-8">
                    <p>University of Santa Clara, JD-1980</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p><b>Professional Association</b></p>
                </div>
                <div class="col-sm-8">
                    <p>California Bar Association</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p><b>Past Board Member</b></p>
                </div>
                <div class="col-sm-8">
                    <p>AFNET Ministries<br />Barnabas Ministries<br />Medical Ambassadors<br/>Modesto Pregnancy Center</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p><b>Practice Areas</b></p>
                </div>
                <div class="col-sm-8">
                    <p>Estate & Probate<br />Family Law<br />Personal Injury<br />DUI & Criminal<br />Real Estate</p>
                </div>
            </div>
        </div>
        <div class="col-md-3" id="attorneyImage">
            <img src="/img/RLFulfer.jpg" alt="Richard L. Fulfer" class="img-rounded">
        </div>
    </div>
</div>

{% include 'footer.html' %}
<script language="javascript" type="text/javascript">
(function($) {
	$(function() {

	});
})(jQuery);
</script>
{% include 'postFooter.html' %}
