{% include 'header.html' %}
<div class="jumbotron">
  <h1>{{pageInfo.h1Tag|upper}}</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8" id="attorneyContent">
      {% set loc='main' %}
      {% include 'editArea.html' %}
    </div>
    <div class="col-md-4" id="attorneyImage">
      <img src="/img/RLFulfer.jpg" alt="Richard L. Fulfer" class="img-rounded">
    </div>
  </div>
</div>
{% include 'footer.html' %}
<script language="javascript" type="text/javascript">
(function($) {
	$(function() {

	});
})(jQuery);
</script>
{% include 'postFooter.html' %}
