{% include 'header.html' %}
<div class="body">
  <div class="jumbotron">
    <h2>Contact Us</h2>
  </div>
  <div class="container" id="contactContent">
    <div class="row">
      <div class="col-md-8 contactTop">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3159.3465892880895!2d-120.99824968509824!3d37.64105497978407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8090538cd834a3d9%3A0xc2d6f43afd71a592!2sRichard+L+Fulfer+Law+Office!5e0!3m2!1sen!2sus!4v1455241993610" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-md-4 contactTop">
        <p><b>Phone:</b></p>
        <p>209.529.3220</p>
        <div class="line"></div>
        <p><b>Fax:</b></p>
        <p>209.529.4775</p>
        <div class="line"></div>
        <p><b>Address:</b></p>
        <p>821 13th Street, Suite E<br />
        <p>Modesto, CA 95354</p>
        <div class="line"></div>
        <p><b>Email:</b></p>
        <p><a href="mailto:richard@fulferlawoffice.com">richard@fulferlawoffice.com</a></p>
      </div>
    </div>
    <div class="line"></div>
    <div class="row">
      <h3>Serving the Central Valley</h3>
    </div>
    <div class="row">
      <div class="col-sm-3 contactBottom">
        <h4>Merced</h4>
        <p>Santa Nella</p>
        <p>Winton</p>
        <p>Stevenson</p>
        <p>Merced</p>   
        <p>Livingston</p>
        <p>Los Banos</p>
        <p>Gustine</p>
        <p>Snelling</p>
        <p>Ballico</p>
        <p>Cressey</p>
        <p>Planada</p>
        <p>Le Grand</p>
        <p>Hilmar</p>
        <p>Delhi</p>
        <p>Dos Palos</p>
      </div>
      <div class="col-sm-3 contactBottom">
        <h4>San Joaquin</h4>
        <p>Morada</p>
        <p>Ripon</p>
        <p>Lathrop</p>
        <p>French Camp</p>   
        <p>Tracy</p>
        <p>Manteca</p>
        <p>Linden</p>
        <p>Stockton</p>
        <p>Lodi</p>
        <p>Lockeford</p>
        <p>Farmington</p>
      </div>
      <div class="col-sm-3 contactBottom">
        <h4>Stanislaus</h4>
        <p>La Grange</p>
        <p>Montpelier</p>
        <p>Knights Ferry</p>
        <p>Keyes</p>   
        <p>Crows Landing</p>
        <p>Riverbank</p>
        <p>Modesto</p>
        <p>Ceres</p>
        <p>Hughson</p>
        <p>Newman</p>
        <p>Oakdale</p>
        <p>Patterson</p>
        <p>Turlock</p>
        <p>Waterford</p>
        <p>Empire</p>
        <p>Grayson</p>
        <p>Hickman</p>
        <p>Del Rio</p>
        <p>Salida</p>
        <p>Denair</p>
      </div>
      <div class="col-sm-3 contactBottom">
        <h4>Tuolumne</h4>
        <p>Sonora</p>
        <p>Twain Harte</p>
        <p>Tuolumne City</p>
        <p>Columbia</p>   
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}
<script language="javascript" type="text/javascript">
(function($) {
	$(function() {

	});
})(jQuery);
</script>
{% include 'postFooter.html' %}
