<!-- footer -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 footerBox">
                {% for m in menu if (m.menuSide == 'X' or m.menuSide == 'B') %}
                    <li><a href="/{{m.route}}">{{m.name}}</a></li>
                {% endfor %}
            </div>
            <div class="col-sm-6 footerBox">
                <p>Fulfur Law Office</p>
                <p>821 13th Street, Suite E</p>
                <p>Modesto, CA 95354</p>
                <p>209.529.3220</p>
                <p>richard@fulferlawoffice.com</p>
            </div>
        </div>
    </div>
</div>
<div id="inventawebFooter">
    <div class="container">
        <a href="http://inventaweb.net"><p>Site Built By Inventaweb.net</p></a>
    </div>
</div>
<input type="hidden" id="saveID">
<input type="hidden" id="savePage">
<script src="/js/main.min.js"></script>