<DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
        <link href="fulferLawStylesheetV2.css" rel="stylesheet">
        <link href="fulferLawJS.js">
        <title>Richard Fulfer Estate & Probate Attorney in Modesto, CA</title>
    </head>
    <body>
        <!-- navigation menu -->
        <div class="container-fluid">
            <nav class="navbar navbar-default navbar-fixed-top" id="navbar" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarContent">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse" id="navbarContent">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a id="navbarHome" href="#">Home</a></li>
                            <li><a id="navbarAttorney" href="/attorney.html">Attorney</a></li>
                            <li><a id="navbarPractice" href="#">Practice Areas</a></li>
                            <li><a id="navbarContact" href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- beginning of body -->
        <div class="body">
            <!-- image carousel -->
            <div class="container-fluid">
                <div class="row">
                    <div class="carousel slide" id="carousel" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="carouselImage" id="image1"></div>
                            </div>
                            <div class="item">
                                <div class="carouselImage" id="image2"></div>
                            </div>
                            <div class="item">
                                <div class="carouselImage" id="image3"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- text over carousel -->
                <div class="carouselText">
                    <h1>Richard L. Fulfer</h1>
                    <h3>Attorney at Law</h3>
                </div>
            </div>
            <!-- description of specializations -->
            <div class="container-fluid" id="gridContent">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-briefcase fa-stack-1x"></i>
                            </span>
                            <h4>Estate Planning, Probate <br /> & Trust Administration</h4>
                            <p>Ensure that your loved ones are provided for in your absence. We draft all the documents you will need to protect those you care for.</p>
                            <button type="button" class="btn-xs btn-default">Read More</button>
                        </div>
                        <div class="col-sm-4">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-gavel fa-stack-1x"></i>
                            </span>
                            <h4>DUI and Criminal Law</h4>
                            <p>Persons charged with crimes have powerful protections promised through the United States and individual State Constitutions.</p>
                            <button type="button" class="btn-xs btn-default">Read More</button>
                        </div>
                        <div class="col-sm-4">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-users fa-stack-1x"></i>
                            </span>
                            <h4>Family Law</h4>
                            <p>Richard can provide a full range of family law services to ensure that the needs and rights of his clients are protected.</p>
                            <button type="button" class="btn-xs btn-default">Read More</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main home page content -->
            <div class="container-fluid" id="blockContent">
                <div class="container">
                    <div class="row">
                        <h3>Protecting Your Interests</h3>
                        <p>Generations of Central Valley residents have relied on the Fulfer name when needing a <b>probate attorney</b> or legal counsel. E. Paul Fulfer opened the practice in the 1950s, and was later joined by his son, Richard, who has continued to serve clients since 1980. The practice is built on <b>honesty, ethics, and integrity.</b></p>
                        <p>At the Law Office of Richard L. Fulfer, <b>clients come first</b>. Every client whether their needs are for probate, family law, personal injury, criminal, or DUI is treated with respect and guaranteed effective representation. It is Richard's goal that every client will receive the best outcome for his/her case. With <b>over 35 years of extensive experience</b>, Richard is well prepared to provide his clients with aggressive, effective, and compassionate counsel.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6" id="footerBox">
                        <p><a href="#">Home</a></p>
                        <p><a href="#">Attorney</a></p>
                        <p><a href="#">Practice Areas</a></p>
                        <p><a href="#">Contact Us</a></p>
                        <p><a href="#">Terms of Use</a></p>
                    </div>
                    <div class="col-sm-6" id="footerBox">
                        <p>Fulfur Law Office</p>
                        <p>821 13th Street, Suite E</p>
                        <p>Modesto, CA 95354</p>
                        <p>209.529.3220</p>
                        <p>richard@fulferlawoffice.com</p>
                    </div>
                </div>
            </div>
        </div> 
        <div id="inventawebFooter">
            <div class="container">
                <p>Site Built By Inventaweb.net</p>
            </div>
        </div>
    </body>
</html>