{% include 'header.html' %}
<!-- image carousel -->
<div class="container-fluid">
    <div class="row">
        <div class="carousel slide" id="carousel" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="carouselImage" id="image1"></div>
                </div>
                <div class="item">
                    <div class="carouselImage" id="image2"></div>
                </div>
                <div class="item">
                    <div class="carouselImage" id="image3"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- text over carousel -->
    <div class="carouselText">
        <h1>Richard L. Fulfer</h1>
        <h3>Attorney at Law</h3>
    </div>
</div>
<!-- description of specializations -->
<div class="container-fluid" id="gridContent">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-briefcase fa-stack-1x"></i>
                </span>
                <h4>Estate Planning, Probate <br /> & Trust Administration</h4>
                <p>Ensure that your loved ones are provided for in your absence. We draft all the documents you will need to protect those you care for.</p>
                <button type="button" class="btn-xs btn-default">Read More</button>
            </div>
            <div class="col-sm-4">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-gavel fa-stack-1x"></i>
                </span>
                <h4>DUI and Criminal Law</h4>
                <p>Persons charged with crimes have powerful protections promised through the United States and individual State Constitutions.</p>
                <button type="button" class="btn-xs btn-default">Read More</button>
            </div>
            <div class="col-sm-4">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-users fa-stack-1x"></i>
                </span>
                <h4>Family Law</h4>
                <p>Richard can provide a full range of family law services to ensure that the needs and rights of his clients are protected.</p>
                <button type="button" class="btn-xs btn-default">Read More</button>
            </div>
        </div>
    </div>
</div>
<!-- main home page content -->
<div class="container-fluid" id="blockContent">
    <div class="container">
        <div class="row">
            <h3>Protecting Your Interests</h3>
            <p>Generations of Central Valley residents have relied on the Fulfer name when needing a <b>probate attorney</b> or legal counsel. E. Paul Fulfer opened the practice in the 1950s, and was later joined by his son, Richard, who has continued to serve clients since 1980. The practice is built on <b>honesty, ethics, and integrity.</b></p>
            <p>At the Law Office of Richard L. Fulfer, <b>clients come first</b>. Every client whether their needs are for probate, family law, personal injury, criminal, or DUI is treated with respect and guaranteed effective representation. It is Richard's goal that every client will receive the best outcome for his/her case. With <b>over 35 years of extensive experience</b>, Richard is well prepared to provide his clients with aggressive, effective, and compassionate counsel.</p>
        </div>
    </div>
</div>
</div>
{% include 'footer.html' %}
<script language="javascript" type="text/javascript">
(function($) {
	$(function() {

	});
})(jQuery);
</script>
{% include 'postFooter.html' %}
