{% include 'header.html' %}
<div class="body">
<!-- image carousel -->
<div class="container-fluid" id="carouselContainer">
  <div class="row">
    <div class="carousel slide" id="carousel" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="carouselImage" id="image1"></div>
          <div class="imageAttribution">
            <p><a href="https://commons.wikimedia.org/wiki/File:CourtGavel.JPG">
"Old gavel and court minutes displayed at the Minnesota Judicial Center"</a> by <a href="https://commons.wikimedia.org/wiki/User:Jonathunder">Jonathunder</a>, used under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY</a> / Cropped and recolored from original</p>
          </div>
        </div>
        <div class="item">
          <div class="carouselImage" id="image2"></div>
          <div class="imageAttribution">
            <p><a href="https://commons.wikimedia.org/wiki/File:Courtroom.jpg">
"One of the original Victorian Courtrooms at the Galleries of justice Museum"</a> by Fayerollinson, used under <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC BY</a> / Cropped and recolored from original</p>
          </div>
        </div>
        <div class="item">
          <div class="carouselImage" id="image3"></div>
          <div class="imageAttribution">
            <p><a href="https://www.flickr.com/photos/limaoscarjuliet/225249268/in/photostream/">
"the law"</a> by <a href="https://www.flickr.com/photos/limaoscarjuliet/">Pawel Loj</a>, used under <a href="https://creativecommons.org/licenses/by/2.0/">CC BY</a> / Cropped and recolored from original</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- text over carousel -->
  <div class="carouselText">
    <h1>RICHARD L. FULFER</h1>
    <h3>Attorney at Law</h3>
  </div>
</div>
<!-- main home page content -->
<div class="container-fluid" id="homeTopContent">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% set loc='main' %}
        {% include 'editArea.html' %}
      </div>
    </div>
  </div>
</div>
<!-- description of specializations -->
<div class="container-fluid" id="homeBottomContent">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <span class="fa-stack fa-3x">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-briefcase fa-stack-1x"></i>
        </span>
        <h4>Estate Planning, Probate <br /> & Trust Administration</h4>
        <p>Let us help you plan to ensure that your loved ones are protected and provided for in your absence.</p>
        <a href="practice#estate" class="btn-xs btn-default" role="button">Read More</a>
      </div>
      <div class="col-sm-4">
        <span class="fa-stack fa-3x">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-gavel fa-stack-1x"></i>
        </span>
        <h4>DUI and Criminal Law</h4>
        <p>Richard understands legal complexities, and works to protect the rights and secure the best outcome for his clients facing criminal charges.</p>
        <a href="practice#dui" class="btn-xs btn-default" role="button">Read More</a>
      </div>
      <div class="col-sm-4">
        <span class="fa-stack fa-3x">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-users fa-stack-1x"></i>
        </span>
        <h4>Family Law</h4>
        <p>Richard is experienced in providing legal counsel to individuals dealing with critical issues such as divorce, separation, and child custody.</p>
        <a href="practice#family" class="btn-xs btn-default" role="button">Read More</a>
      </div>
    </div>
  </div>
</div>
</div>
{% include 'footer.html' %}
<script language="javascript" type="text/javascript">
(function($) {
	$(function() {

	});
})(jQuery);

// function to show/hide image attribution
$(document).ready(function(){
    $(".imageAttribution").hide();
    $(".carouselImage").click(function(){
        $(".imageAttribution").toggle();
    });
});
</script>
{% include 'postFooter.html' %}
