{% include 'header.html' %}
<!-- image carousel -->
<div class="container-fluid" id="carouselContainer">
  <div class="row">
    <div class="carousel slide" id="carousel" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="imageAttribution">
            <p><a href="https://en.wikipedia.org/wiki/United_States_Supreme_Court_Building#/media/File:Supreme_court_east_facade.jpg">
"'Justice the Guardian of Liberty' over the eastern facade"</a> by <a href="https://en.wikipedia.org/wiki/User:Simon_Dodd">Simon Dodd, used under <a href="http://creativecommons.org/licenses/by-sa/2.0/deed.en">CC BY</a> / Cropped from original</p>
          </div>
          <div class="carouselImage" id="image1"></div>
        </div>
        <div class="item">
          <div class="imageAttribution">
            <p><a href="https://commons.wikimedia.org/wiki/File:Courtroom.jpg">
"One of the original Victorian Courtrooms at the Galleries of justice Museum"</a> by Fayerollinson, used under <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC BY</a> / Cropped and recolored from original</p>
          </div>
          <div class="carouselImage" id="image2"></div>
        </div>
        <div class="item">
          <div class="imageAttribution">
            <p><a href=https://commons.wikimedia.org/wiki/File:Golden_Lady_Justice,_Bruges,_Belgium_(6204837462).jpg>
"Golden Lady Justice, Bruges, Belgium"</a> by <a href="https://www.flickr.com/people/10506176@N07">Emmanuel Huybrechts</a>, used under <a href="https://creativecommons.org/licenses/by/2.0/deed.en">CC BY</a> / Cropped from original</p>
          </div>
          <div class="carouselImage" id="image3"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- text over carousel -->
  <div class="row" id="carouselText1">
    <div class="col-12-xs">
      <h1>{{pageInfo.h1Tag}}</h1>
      <h2>ATTORNEY AT LAW</h2>
    </div>
  </div>
  <div class="line" style="max-width: 400px;"></div>
  <div class="row" id="carouselText2">
    <div class="col-12-xs">
      <h3>Over {{years}} Years of Experience</h3>
    </div>
  </div>
</div>
<!-- main home page content -->
<div class="container-fluid" id="homeTopContent">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% set loc='main' %}
        {% include 'editArea.html' %}
      </div>
    </div>
  </div>
</div>
<!-- description of specializations -->
<div class="container-fluid" id="homeBottomContent">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <a href="practice#estate">
          <span class="fa-stack fa-3x">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-briefcase fa-stack-1x"></i>
          </span>
        </a>
        <a href="practice#estate"><h4>ESTATE PLANNING, PROBATE <br /> & TRUST ADMINISTRATION</h4></a>
        <p>Let us help you plan to ensure that your loved ones are protected and provided for in your absence.</p>
        <a href="practice#estate" class="btn-sm btn-default" role="button">Read More</a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="practice#dui">
          <span class="fa-stack fa-3x">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-gavel fa-stack-1x"></i>
          </span>
        </a>
          <a href="practice#dui"><h4>DUI & CRIMINAL LAW</h4></a>
        <p>Richard understands legal complexities, and works to protect the rights and secure the best outcome for his clients facing criminal charges.</p>
        <a href="practice#dui" class="btn-sm btn-default" role="button">Read More</a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="practice#family">
          <span class="fa-stack fa-3x">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-users fa-stack-1x"></i>
          </span>
        </a>
          <a href="practice#family"><h4>FAMILY LAW</h4></a>
        <p>Richard is experienced in providing legal counsel to individuals dealing with critical issues such as divorce, separation, and child custody.</p>
        <a href="practice#family" class="btn-sm btn-default" role="button">Read More</a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="practice#personal">
          <span class="fa-stack fa-3x">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-car fa-stack-1x"></i>
          </span>
        </a>
          <a href="practice#personal"><h4>PERSONAL INJURY</h4></a>
        <p>Richard's extensive experience in this practice area allows him to help clients who have been victims of personal injury receive compensation quickly.</p>
        <a href="practice#personal" class="btn-sm btn-default" role="button">Read More</a>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}
<script language="javascript" type="text/javascript">
(function($) {
	$(function() {

	});
})(jQuery);

// carousel controls
$('.carousel').carousel({
  interval: 5000,
  pause: "false"
})

// function to show/hide image attribution
$(document).ready(function(){
    $(".imageAttribution").hide();
    $(".carouselImage").click(function(){
        $(".imageAttribution").toggle();
    });
});
</script>
{% include 'postFooter.html' %}
